<article
  class="group relative hover:bg-zinc-800 shadow-lg hover:shadow-xl bg-zinc-500/30 rounded-md ransi transition-all duration-300"
>
  <div
    class="absolute right-4 bottom-20 translate-y-4
    transition-all duration-500 opacity-0
    group-hover:translate-y-0 group-hover:opacity-100
    z-10"
    (click)="setSongById(playlist.id, true)"
  >
    <app-card-play-button [playlistId]="playlist.id" />
  </div>

  <a
    [routerLink]="'/dashboard/playlist/'+ playlist.id"
    class="playlist-item transition-all duration-300 flex relative p-2 overflow-hidden gap-2 pb-6 rounded-md w-44 flex-col"
  >
    <picture class="aspect-square w-full h-auto flex-none">
      <img
        [src]="playlist.cover"
        [alt]="'Cover of' + playlist.title + ' by ' + playlist.artists.join(', ')"
        class="object-cover w-full h-full rounded-md"
        [style]="'view-transition-name: element_'+playlist.id+';'"
      />
    </picture>

    <div class="flex flex-auto flex-col px-2">
      <h4 class="text-white text-sm"
      [style]="'view-transition-name: title_'+playlist.id+';'">
        {{playlist.title}}
      </h4>

      <span
        class="text-xs text-gray-400"
        [style]="'view-transition-name: artists'+playlist.id+';'"
      >
      {{playlist.artists.join(', ')}}
      </span>
    </div>
  </a>
</article>